<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - My App</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>

  <div class="container">

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">

      <!--rootPath() est le nom de la route vers la racine de l'application-->
      <a class="navbar-brand" href="<%= rootPath() %>">My App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Posts</a>
          </li>
        </ul>
        <ul class="navbar-nav">

          <!--TODO : rediriger vers la création d'utilisateur -->
          <li class="nav-item">
            <a href="<%= newUsersPath() %>" class="nav-link">Register</a>
          </li>

        </ul>
      </div>
    </nav>

    <%= partial("flash.html") %>
    <%= yield %>
  </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
